<div class="visible-print row" style="margin-bottom: .5em">
    <div class="col-xs-2">
        <img style="height: 15mm" src="~/images/LogoCamp.png" />
    </div>
    <div class="col-xs-10" >
        <span>CAMPANAS DEL DESIERTO S.A. DE C.V</span><br />
        <span>RFC: CDE870326GH7</span><br />
        <span>Blvd. Las conchas y Marsellas no. 432, Col. Brisas del Golfo, CP. 83550</span><br />
        <span>Puerto Peñasco, Sonora, México.</span>
    </div>
</div>