@model CampanasDelDesierto_v1.Models.Productor

@{
    ViewBag.Title = "Productor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Información del Productor</h2>
    </div>
    <div class="panel-body">
        @Html.Partial("Partial_InfoProductor", Model)
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Movimientos</h2>
    </div>
    <div class="panel-body">
        @Html.Partial("../MovimientoFinancieros/Partial_ListMovimientos", Model)
    </div>
</div>