@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>Campanas Del Desierto</h1>*@
    <p class="lead"></p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Ver mas &raquo;</a></p>*@
</div>

