@model CampanasDelDesierto_v1.Models.PrestamoYAbonoCapital.Proveedores

<h3>¿Estás seguro que quieres eliminar este registro?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreProveedor)
        </dt>

        <dd>
            <strong id="entityName">@Html.DisplayFor(model => model.nombreProveedor)</strong>
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteProveedor","Proveedores",FormMethod.Post,new { @class="row" })) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model=>model.id)
        <div class="form-group">
            <div class="col-md-12">
                <button class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    }
</div>
