@model CampanasDelDesierto_v1.Models.MovimientoFinanciero

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("Details","Productores" ,new { id= Model.idProductor, temporada = Model.TemporadaDeCosechaID })">
    <i class="glyphicon glyphicon-arrow-left"></i><span>Volver Movimientos de Productor</span>
</a>

<h3>¿Estás seguro que quieres eliminar este registro?</h3>

@Html.Partial("Partial_MovimientoDetails")

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button class="btn btn-danger" >Eliminar</button>
    </div>
}
