@model CampanasDelDesierto_v1.Models.RegisterViewModel
@using CampanasDelDesierto_v1.Models
@{
    ViewBag.Title = "Nuevo Usuario";
    
}
<a href='@Url.Action("Index","AdminDepartamentos")'>
    <i class="glyphicon glyphicon-arrow-left"></i> Regresar a Usuarios
</a>

<h2>@ViewBag.Title</h2>
<div class="alert alert-warning">
    De forma predeterminada, la <strong>cuenta registrada es para un administrador de departamentos </strong>,
    Si hace clic en la casilla de verificación de abajo, le dará a este usuario funciones de administrador general.

</div>

  
@Html.Partial("Partial_UserForm")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
